<!DOCTYPE html>
<html>
<head>
    <title>School System Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>SFNHS Grade System</h1>

<form method="POST" autocomplete="off">

    <h2>Login</h2>

    <input type="text" name="username" autocomplete="off" placeholder="E-mail"><br><br>

    <input type="password" name="password" autocomplete="new-password" placeholder="Password"><br><br>

    <button type="submit">Login</button>

</form>
</div>
</body>
</html>